@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('fonts/mitr-v11-thai_latin-300.woff2') format('woff2'),
        url('fonts/mitr-v11-thai_latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('fonts/mitr-v11-thai_latin-regular.woff2') format('woff2'),
        url('fonts/mitr-v11-thai_latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('fonts/mitr-v11-thai_latin-500.woff2') format('woff2'),
        url('fonts/mitr-v11-thai_latin-500.woff') format('woff');
}

/* Global xSS */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-family: "Mitr", sans-serif;
    color: #333;
    font-weight: 300;
}