.customCardNewPassword {
    width: 360px;
    height: 400px;
    background-color: lightblue;
}

.customCardNewPassword .row {
    text-align: center;
}

.customCardNewPassword .row img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.customCardNewPassword .customRowContent {
    margin: 10px;
}

.customCardNewPassword .row .col a:hover {
    color:blue
}


.customCardResetDone {
    width: 360px;
    height: 400px;
    background-color: lightblue;
}

.customCardResetDone .row {
    text-align: center;
}

.customCardResetDone .row img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
