.customCardChangPassword {
    width: 360px;
    height: 360px;
    /* background-color: red; */
    border-radius: 25px;
    text-align: center;
    
}

.customCardChangPassword img {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.customCardChangPassword .row {
    margin-top: 35px;
}

.customCardResetPassword {
    width: 360px;
    height: 400px;
    background-color: lightblue;
}

.customCardResetPassword .row {
    text-align: center;

}

.customCardResetPassword .row img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.customCardResetPassword .row form {
    text-align: start;
}

.customCardResetPassword .row {
    display: flex;
    justify-content: center;
}

.customCardResetPassword .row  .customButtonReset {
    display: flex;
    justify-content: center;
}

.customCardResetPassword .row p a {
    /* text-decoration: none; */
    color: #665A48;

}

.customCardResetPassword .row p a:hover {
    color: blue;
}

.customCardResetPasswordDone {
    width: 360px;
    height: 400px;
    background-color: lightblue;

}

.customCardResetPasswordDone .row img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.customCardResetPasswordDone .row h5 {
    text-align: center;
}

