.emoji span{
    font-size: 60px;
}

/* .customCardResultUser .card  {
    color: #fff;
} */

/* .customCardResultUser .card .card-content {
    color: red;
} */

/* .customCardResultUser .card table {
    color: #fff;
} */

/* .customCardResultUser .card:hover {
    transform: translateY(-20px);
    transition: 0.2s;
} */
