{% extends 'app_users/components/base.html' %}
{% load static %}
{% block site_title %}รีเซ็ตรหัสผ่าน{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <form method="post">
            {% csrf_token %}
            {% if validlink %}
                <div class="customCardNewPassword shadow ">
                    <div class="row">
                        <img src="{% static 'app_general/img/reset-password2.png' %}" alt="img">
                        <h5 class="mt-2">ตั้งรหัสผ่านใหม่</h5>
                    </div>
                    <div class="row w-75 mt-2 text-start" style="margin-left: auto; margin-right: auto;">
                        <form class="form" method="post" >
                            {% csrf_token %}
                            <div class="text-danger">
                                {{ form.non_field_errors }}
                            </div>
                            <label class="form-label mb-2">รหัสผ่านใหม่: </label>
                            <input type="password" id="form3Example3" class="form-control mb-2" name="new_password1" />
                            <div class="text-danger">
                                {{ form.new_password1.errors }}
                            </div>
                            <label class="form-label mb-2">ยืนยันรหัสผ่าน: </label>
                            <input type="password" id="form3Example3" class="form-control mb-4" name="new_password2" />
                            <div class="text-danger">
                                {{ form.new_password2.errors }}
                            </div>
                            <div class="container d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">ยืนยัน</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
            <div class="customCardNewPassword">
                <div class="row">
                    <img src="{% static 'app_general/img/unlink.png' %}" alt="img">
                    <h5>ตั้งรหัสผ่านใหม่ไม่สำเร็จ</h5>
                </div>
                <div class="row customRowContent  mt-5 mb-5">
                    ตั้งรหัสผ่านใหม่ไม่สำเร็จ เนื่องจากลิ้งของคุณหมดอายุ หรืออาจจะเคยถูกใช้งานไปแล้ว
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'password_reset' %}">รับลิงค์อีกครั้ง</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'login' %}">เข้าสู่ระบบ</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}