{% extends 'app_users/components/base.html' %}
{% load static %}
{% block site_title %}รีเซ็ตรหัสผ่าน{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="customCardResetPassword shadow">
            <div class="row">
                <img src="{% static 'app_general/img/reset-password.png' %}" alt="img">
            </div>
            <div class="row mt-3">
                <h5>ลืมรหัสผ่าน ?</h5>
                <p>เซ็ตรหัสผ่านด้วยอีเมลที่ใช้งาน</p>
            </div>
            <div class="row p-3">
                <form action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    <div class="text-danger">
                        {{ form.non_field_errors }}
                    </div>
                    <label class="form-label" for="id_email">อีเมล</label>
                    <input type="email" id="id_email" class="form-control" name="email" placeholder="example@mail.com" />
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                    <div class="customButtonReset mt-2">
                        <button class="btn btn-primary" type="submit">ตกลง</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <p>
                    <a href="{% url 'login' %}">ลองเข้าสู่เข้าสู่ระบบอีกครั้ง ? </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}