{% extends 'app_users/components/base.html' %}
{% load static %}
{% block site_title %}รีเซ็ตรหัสผ่าน{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="customCardResetDone shadow">
            <div class="row">
                <img src="{% static 'app_general/img/change.png' %}" alt="img">
                <h5 class="mt-2">ตั้งรหัสผ่านใหม่สำเร็จแล้ว</h5>
            </div>
            <div class="row p-3">
                <p class="text-start ms-3">
                    ตั้งรหัสผ่านของคุณแล้ว!!<br> คุณสามารถดำเนินการต่อและเข้าสู่ระบบได้เลย
                </p>
                <p class="text-start ms-3">
                    <a href="{% url 'login' %}">&laquo ไปยังหน้าเข้าสู่ระบบ</a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}