{% extends 'app_users/components/base.html' %}
{% load static %}
{% block site_title %}รีเซ็ตรหัสผ่าน{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="customCardResetPasswordDone shadow">
            <div class="row">
                <img src="{% static 'app_general/img/email-check.png' %}" alt="img">
                <h5>ส่งการรีเซ็ตรหัสผ่านแล้ว</h5>
            </div>
            <div class="row p-4">
                <p>
                    <strong>
                        กรุณาตรวจสอบอีเมลของคุณ!!    
                    </strong>
                    
                    <br>
                    เราได้ส่งอีเมลคำแนะนำการตั้งรหัสผ่านของคุณ 
                    หากมีบัญชีที่ใช้อีเมลที่คุณป้อน คุณควรได้รับในไม่ช้า หากคุณไม่ได้รับอีเมล 
                    โปรดตรวจสอบว่าคุณได้ป้อนที่อยู่ที่คุณลงทะเบียนไว้ และตรวจสอบโฟลเดอร์สแปมของคุณ
                </p>
                <p>
                    <a href="{% url 'login' %}">&laquo ไปยังหน้าเข้าสู่ระบบ</a>
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}