{% extends 'app_general/components/base.html' %}
{% load static%}
{% block site_title %}เปลี่ยนรหัสผ่าน{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center w-100 h-100">
        <div class="customCardChangPassword shadow">
            <div class="row CustomHeader">
                <img src="{% static 'app_general/img/password.png' %}" alt="img">
            </div>
            <div class="row CustomContent">
                <h5>
                    <strong>เปลี่ยนรหัสผ่านสำเร็จ</strong>
                </h5>
                <p>{{ user.username }}!! รหัสผ่านของคุณได้ถูกอัปเดตสำเร็จแล้ว</p>
            </div>
            <div class="row CustomFooter">
                <div class="container">
                    <a href="{% url 'profile' %}">
                        <button class="btn btn-outline-danger">ปิด</button>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}