{% extends 'app_users/components/base.html' %}
{% load static %}
{% block site_title %}สมัครสมาชิก{% endblock %}
{% block content %}
<div class="customRegisterLayout">
  <div class="w-50" style="margin-left: auto; margin-right: auto;">
    {% for msg in messages %}
        {% if msg.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong>
                <a href="{% url 'login' %}">
                  <p>เข้าสู่ระบบ</p>
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
  </div>
  <div class="customCardRegister shadow mt-5">
    <div class="cardHeader">
        <div class="row">
            <img src="{% static 'app_general/img/login.gif' %}" alt="img">
        </div>
        <div class="row">
            <h5>
                <strong>ลงทะเบียนเข้าใช้งานระบบ</strong>
            </h5>
        </div>
        <div class="row">
            <div class="cardContent">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="text-danger">{{ form.non_field_errors }}</div>
                    <div class="formInput">
                      <div class="form-outline">
                        <label class="form-label" for="id_username">ชื่อผู้ใช้งาน</label>
                        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username" class="form-control" />
                        <div class="text-danger">
                          {{ form.username.errors }}
                        </div>
                      </div>
                      <div class="form-outline">
                        <label class="form-label" for="id_first_name">ชื่อ</label>
                        <input type="first_name" name="first_name" maxlength="254" required id="id_first_name" class="form-control" />
                        <div class="text-danger">
                          {{ form.first_name.errors }}
                        </div>
                      </div><div class="form-outline">
                        <label class="form-label" for="id_last_name">นามสกุล</label>
                        <input type="last_name" name="last_name" maxlength="254" required id="id_last_name" class="form-control" />
                        <div class="text-danger">
                          {{ form.last_name.errors }}
                        </div>
                      </div>
                      <div class="form-outline">
                        <label class="form-label" for="id_email">อีเมล</label>
                        <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" />
                        <div class="text-danger">
                          {{ form.email.errors }}
                        </div>
                      </div>
                      <div class="form-outline">
                        <label class="form-label" for="id_password1">รหัสผ่าน</label>
                        <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" />
                        <div class="text-danger">
                          {{ form.password1.errors }}
                        </div>
                      </div>
                      <div class="form-outline">
                        <label class="form-label" for="id_password2">ยืนยันรหัสผ่าน</label>
                        <input type="password" name="password2" autocomplete="new-password" required id="id_password2" class="form-control" />
                        <div class="text-danger">
                          {{ form.password2.errors }}
                        </div>
                      </div>
                    </div>
                    <div class="formButton mb-4">
                        <button class="btn btn-primary shadow" type="submit">ลงทะเบียน</button>
                    </div>
                    <div class="formFooter">
                        <p>
                            <a href="{% url 'login' %}">มีบัญชีผู้ใช้งานแล้ว?</a>
                        </p>
                    </div>
                </form>  
            </div>
            
        </div>
    </div>
  </div>
</div>

 
{% endblock %}