{% load static %}
<nav class="navbar navbar-light shadow" style="background: #EEE">
    <div id="logoGoToDashboard" class="navbar-brand ms-3 d-flex align-items-center">
        <div>
            <img src="{% static 'app_general/img/ezgif.com-crop.gif' %}" width="40" height="40" class="d-inline-block align-top" alt="img">
        </div>
        <div class="ms-2 d-flex align-items-center">
            <h4 style="margin-top: auto; margin-bottom: auto;">ระบบทำนายผลการสำเร็จการศึกษา</h4>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-end align-items-center">
            <a class="me-3" href="{% url 'profile' %}">
                <button class="btn btn-outline-primary shadow" title="ข้อมูลผู้ใช้งาน">
                    <!-- <img src="{% static 'app_general/img/user.png' %}" alt="img" style="width: 20px; height: auto;"> -->
                    <!-- <span class="material-symbols-outlined text-primary">group</span> -->
                    <i data-feather="smile"></i>
                    <span class="ms-2 text-uppercase" style="width: 20px">{{ user.username }}</span>
                </button>
            </a>
            <a href="{% url 'logout' %}">
                <button class="btn me-3" title="ออกจากระบบ">
                    <i data-feather="log-out"></i>
                </button>
            </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-end">
            <a href="{% url 'login' %}">
                <button class="btn btn-primary me-3">Log in</button>
            </a>
            <a href="{% url 'register' %}">
                <button class="btn btn-success me-3">sign up</button>
            </a>
        </div>
    {% endif %}
</nav>